@model DB_Bonus.Models.Donor

@{
    ViewData["Title"] = "Donor Details";
}

<h1>Donor Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DateOfBirth)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DateOfBirth)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Gender)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.NationaiID)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NationaiID)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.BloodType)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.BloodType)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PhoneNumber)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.HealthStatus)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.HealthStatus)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Height)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Height)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Address)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Address)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Notes)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Notes)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
